h1{
   text-align: center;
   border:2px solid black ;
   background-color:plum;
   padding: 3%;
   color: rgb(124, 84, 143);
}
/*plum*/
a{
background-color:rgb(221, 211, 220);
border: 2px solid whitesmoke;
border-radius:15% ;
padding:12px 40px 12px 40px ;
text-align: center;
text-decoration:dashed;
font-size:18px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: rgb(147, 52, 174);
margin: 2px;
display: inline-block;
margin:1px

}

nav{
    text-align: center;
}
/*حركات اذا جاء المؤشر عليهم*/
a:hover{
    background-color: plum;
    color: rgb(130, 73, 130);
    transition: 0.6s;
      transform:translate(3px,8px);
    font-size: 20px;
}
/*عشان يكبرالخط اذا المؤشر جاء عليه*/
h1:hover{
font-size:35px;
  transition: 0.6s;
  

}

body{
    background-image:url(6045025856645696436.jpg);
    background-repeat:no-repeat;
    background-position:center;
    background-size:1700px;/*backgroundعشان الصوره تغطي كل ال*/
    text-align: center;

    /*position:fixed;*/
}

.ji{
    color: rgb(98, 54, 105);
    background-color: rgba(176, 147, 172, 0.705);
    display: inline-block;
    padding: 2%;
    border-radius:6%;
}
p{
    font-size: 18px;
    font-weight: 600;
}
